<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Art Gallery</title>
</head>
<body>

<nav>
  <ul>
    <li><a href="/admin/artist/new">Add new artist</a></li>
    <li><a href="/admin/exhibition/new">Add new exhibition</a></li>
    <li><a href="/admin/artist">Show all artist</a></li>
    <li><a href="/admin/exhibition">Show all exhibition</a></li>
  </ul>
</nav>


<%= yield %>
</body>
</html>
