<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>The Archive</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<header>

  <nav class="navbar">
    <ul>
      <li><a href="/admin/artist">Staff Portal</a></li>
    </ul>
  </nav>
</header>

<body>


<h1>The Archive</h1>

<div class="container-all">
<div>
  <img src="/images/art_gallery.jpg" alt="art gallery image">
</div>


<!-- <div class="outer-container">
  <div class="box-grouped">
    <div class="box-1">
      <a href="/artist" class="fill-box"><img src="/images/dog3.jpg" alt="image"></a>
    </div>
    <div class="box-2">
      <a href="#" class="fill-box"><img src="/images/dog9.jpg" alt="image"></a>
    </div>
    <div class="box-3">
      <a href="#" class="fill-box"><img src="/images/dog4.jpg" alt="image"></a>
    </div>
    <div class="box-4">
      <a href="#" class="fill-box"><img src="/images/dog5.jpg" alt="image"></a>
    </div>
  </div> -->

  <div class="container-text">
    <div class="text-area">
      <p>Welcome to the Archive!</p>
        <p>A gallery for local artists to showcase their work.</p>
      </div>
  </div>
</div>



</body>
</html>
