@import url('https://fonts.googleapis.com/css?family=PT+Sans');


body {
    background-color: #FFFF;
    font-family: "PT Sans", sans-serif;
}

.image {
  width: 80%;
  height: 80%;
  display: flex;
  align-content: center;
}


img {
  width: 200px;
  height: 200px;
  display: flex;
  align-content: center;
}
