<h1>Artist View</h1>

<% for artist in @artists %>
<p>First Name: <%= artist.first_name() %> </p>
<p>Last Name: <%= artist.last_name() %> </p>
<p><a href="/admin/artist/<%= artist.id%>"> Artist Information</a></p>
<% end %>
