<form  action="/admin/artist" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name">

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name">

  <label for="artist_info">Description:</label>
  <input type="text" name="artist_info" id="artist_info">

  <label for="artist_img">Add Image:</label>
  <input type="text" name="artist_img" id="artist_img">


  <input type="submit" value="Create">
</form>
